@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --white-color: #fff;
  --main-color: #e85d97;
  --main-color-hover: #e83781;
  --blue-color: #3abff8;
  --blue-color-hover: #0e95cf;
  --green-color: #37c871;
  --green-color-hover: #239b53;
  --red-color: #ff1111;
  --red-color-hover: #a80202;

  --main-color2: #007fff;

  --color-button1: #ffff;
  --color-button2: #007fff;

  --color-layout: #000;
  --color-layout2: #333f48;

  --content-color: #f4f4f4;

  --tw-ring-color: transparent;
  --color-infor-store: #252a2b;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
